.storybook-button{
   border-radius: 8px;
   background: #000528;
   color: #FFFFFF;
   padding: 14px 24px;
   border: 2px solid;
   border-image-source: linear-gradient(103.63deg, #D705F0 -6.47%, #5005F0 104.16%);
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
}